.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: lightblue;
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    justify-content: space-around;


}

.text{
    color: dimgray;
    font-weight: bold;
    padding-top: 10px;
    font-size: 13px;
    margin-left: 300px;
}

.admin > img{
    display: flex;
    justify-content: end;
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-top: 7px;
}